{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
        <div class="row align-items-center landing-section p-5 my-5">
          <div class="col-md-4 col-sm-10">
              <!-- <img src="{% static 'media/headshot.jpg' %}" class="d-none d-md-block rounded float-start img-thumbnail m-4" id="landing-profile-pic" alt="headshot"> -->
              <h2 class="fs-1 heading">{{ personal.name }}</h2>
              <h4 class="heading-orange">{{ personal.title }}</h4>
              <h5 class="text-lvl-one">{{ personal.location }}</h5>
          </div>
          <div class="col d-none d-md-block">
            <div class="hero-image-container">
              <img src="https://odoocdn.com/openerp_website/static/src/img/apps/website/hero_image.webp" class="hero-image card-img" alt="...">
            </div>
          </div>
      </div>
      <div class="row justify-content-center align-items-center landing-section my-5">
        <div class="col-10">
          <h4>About Me</h4>
          <p>
            I've got experience with full stack technologies including HTML, CSS, JavaScript, Python, Django
            and worked on artist portfolios, online games, forum sites and an online store.
          </p>
          <p>
            My professional experience is in Customer Service, Technical Support, Content Management and Event Production. In 2022
            I took my love for problem-solving and creative uses for technology and enrolled in a Software Development course. I'm now
            searching for my first role where I can continue developing and contribute to the digital experiences of tomorrow!
          </p>
        </div>
      </div>
      <div class="row justify-content-center align-items-center landing-section my-5">
        <div class="col-10">
          <a href="{% url 'cv' %}"><h4>Experience</h4></a>
          <h5 class="text-lvl-one small">Academic</h4>
          {% for record in acad_exp %}
          <div class="row">
            <div class="col-3">
              <p class="text-muted">{{ record.start_date|date:"M Y" }} - {{ record.end_date|date:"M Y" }}</p>
            </div>
            <div class="col-9">
              <ul>
                <li>
                  <p class="lead my-0">{{ record.institution }}, {{ record.location }}</p>
                </li>
              </ul>
              <p class="text-lvl-one my-0">{{ record.level }} {{ record.field }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <hr class="w-50 my-4">
        <div class="col-10">
          <h5 class="text-lvl-one small">Professional</h5>
          {% for record in prof_exp %}
          <div class="row">
            <div class="col-3">
              <p class="text-muted">{{ record.start_date|date:"M Y" }} - {{ record.end_date|date:"M Y" }}</p>
            </div>
            <div class="col-9">
              <ul>
                <li>
                  <p class="lead my-0">{{ record.company }}, {{ record.location }}</p>
                </li>
              </ul>
              <p class="text-lvl-one my-0">{{ record.title }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="row justify-content-center align-items-center landing-section my-5">
          <h4 class="text-center mb-4">Projects</h4>
          {% for project in projects %}
                <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 p-0">
                  <div class="card bg-dark text-white">
                    <img src="https://odoocdn.com/openerp_website/static/src/img/apps/website/hero_image.webp" class="card-img" alt="...">
                    <div class="card-img-overlay hidden">
                      <a href="{% url 'project_detail' project.id %}" class="card-title">{{ project.title }}</a>
                    </div>
                  </div>
                 </div>
              {% endfor %}
           </div>
</div>
{% endblock %}
