{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">

    <div class="row">
        <div class="col mb-4 mb-lg-0 p-4">
            <div class="card">
                <img src="{{ project.image_main.url }}" alt="{{ project.title }}" class="img-fluid">
                <h2>{{ project.title }}</h2>
                <div class="row">
                </div>
                <p>{{ project.description }}</p>
                <p><small class="text-muted">{{ project.date }}</small></p>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{ project.body_text_1 }}</p>
                    <br>
                    <p>{{ project.body_text_2 }}</p>
                    {% if project.image_second %}
                    <div class="text-center">
                        <img src="{{ project.image_second.url }}" alt="{{ project.title }}" class="img-fluid">
                    </div>
                    {% endif %}
                    <br>
                    <p>{{ project.body_text_3 }}</p>
                    <div class="col-6 d-flex">
                        {% if project.live_link %}
                        <a href="{{ project.live_link }}" target="_blank" class="nav-link orange-highlight">Live Link</a>
                        {% endif %}
                    </div>
                    <div class="col-6 d-flex">
                        {% if project.code_link %}
                        <a href="{{ project.code_link }}" target="_blank" class="nav-link orange-highlight">Code Repository</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
