{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11">
            <div class="card mb-3">
                <img src="https://github.com/libgit2/libgit2sharp/raw/master/square-logo.png" class="card-img-top" alt="project image">
                <div class="card-body">
                  <h2 class="card-title">{{ project.title }}</h2>
                  <p class="card-text">{{ project.description }}</p>
                  <div>
                    {% if project.live_link %}
                    <a href="{{ project.live_link }}" class="nav-link d-inline">Live Link</a>
                    {% endif %}
                    {% if project.code_link %}
                        <a href="{{ project.code_link }}" class="nav-link d-inline">Code Repository</a>
                    {% endif %}
                  </div>
                  <p class="card-text"><small class="text-muted">{{ project.date }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}