/* Project CSS Styling */
/* Colour variables */
:root {
    --orange: #f77731;
    --grey: rgb(132, 132, 132);
    --grey-light: rgba(0, 0, 0, 0.549);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'Manrope', sans-serif;
}

.footer-container {
    margin-top: auto;
}

.card {
    background-color: black;
}

h1, h2, h3, h4, h5, a {
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.text-muted {
    color: var(--grey) !important;
}

.text-lvl-one {
    color: var(--grey);
}

.text-lvl-two {

}

/* Landing Styling */
.landing-section {
    min-height: 60vh;
}

.carousel-caption {
    background-color: var(--grey-light);
    width: 50%;
}

#landing-profile-pic {
    max-width: 200px;
    max-height: 200px;
    background-color: var(--grey);
    border: none;
}

.heading {
    color: var(--orange);
}

/* Media Queries */

@media (max-width: 575px) {
    #landing-profile-pic {
        width: 150px;
        height: 150px;
        border: none !important;
    }
}