/* Project CSS Styling */
/* Colour variables */
:root {
    --orange: #f77731;
    --orange-light: #f7763195;
    --grey: rgb(132, 132, 132);
    --grey-light: rgba(0, 0, 0, 0.549);
    --grey-dark: rgba(0, 0, 0, 0.828);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: rgb(0,0,0);
    color: white;
    font-family: 'Source Sans 3', sans-serif;
}

.footer-container {
    margin-top: auto;
}

.card {
    background-color: black;
    box-shadow:0 0 2px 0.1px white;
    border: none;
}

h1, h2, h3, h4, h5, a, .lead, .text-lvl-one {
    font-family: 'Montserrat', sans-serif;
}

.text-muted {
    color: var(--grey) !important;
}

.text-lvl-one {
    color: var(--grey);
}

a { 
    color: white;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

.skill-text {
    font-size: smaller;
}

ul {
    padding: 0;
}

.icon,
.icon-no-link {
    color: var(--orange);
}

.icon:hover {
    color: var(--orange-light);
    transition: 0.6s;
}

.orange-highlight {
    color: var(--orange);
}

.white-text {
    color: white;
}

.card img {
    height: 100%;
    overflow: hidden;
}

.card {
    height: 100%;
}

.nav-bar-link:hover {
    transition: 0.3s;
    color: var(--orange-light);
}

/* Landing Styling */
.heading-bar-1 {
    background: rgb(247,119,49);
    background: linear-gradient(30deg, rgba(247,119,49,1) 5%, rgba(0,0,0,1) 45%);
}

.heading-bar-2 {
    background: rgb(247,119,49);
    background: radial-gradient(circle, rgba(247,119,49,1) 2%, rgba(0,0,0,1) 39%);
}

.landing-section {
    min-height: 70vh;
}

.heading-orange {
    color: var(--orange);
}

.heading,
.heading-bar-2,
.heading-bar-1 {
    letter-spacing: 3px;
}

.hero-image-container {
    clip-path: polygon(0 17%, 100% 17%, 100% 78%, 24% 78%);
    height: 40vh;
}

.card,
.card-img-overlay,
.card-img {
    border-radius: 0 !important;
}

.card-img-overlay:hover {
    transition: 0.3s;
    background-color: var(--grey-dark);
    display: block;
}

.card-title,
.card-text {
    display: none;
}

.card-img-overlay:hover .card-title{
    transition: 0.5s;
    display: block;
}

.card-img-overlay:hover .card-text{
    transition: 0.5s;
    display: block;
}

/* Form Styling */

.form-input {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow:0 0 2px 1px white;
    box-sizing: border-box;
}

.form-input-long {
    width: 75%;
}

/* Project Details Page */
.project-details {
    width: 80%;
    height: auto;
}

/* CV Page Styling */
.list-group-item {
    background-color: var(--grey-dark);
    color: white;
    border-color: var(--orange-light);
}

.btn-secondary {
    background-color: var(--orange);
    transition: 0.3s;
    color: white;
    border: none;
}
