/* Project CSS Styling */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.footer-container {
    margin-top: auto;
}

.card {
    background-color: black;
}