{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col text-center">
            <p class="text-lvl-one my-0">Feel free to get in touch using this contact form -
            ask me anything about potential work, some of my previous projects or just for a chat!</p>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col text-center">
            <form action="/contact/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-secondary" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}