{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-3">
        <div class="col text-center">
            <h2>Contact</h2>
        </div>
    </div>
    <div class="row justify-content-center my-3">
        <div class="col text-center">
            <form action="/contact/" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}